@use "utilities" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @include body-font;
  margin: 0;
  background: $bg-light;
  color: #1a1d29;
}

h1,
h2,
h3 {
  @include display-font;
  margin: 0;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7c6f63;
  border-radius: 12px;
}
